<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%highlight(%.-1level)] %boldWhite(---) %green(%logger{36}) %boldWhite(---) %magenta(%thread)
%msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>